.wrap {
    margin: 0 auto;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.form {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form__input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    width: 50%;
    align-self: center;
    margin-bottom: 10px;
}

.form__amount {
    width: 50%;
    margin-bottom: 10px;
    align-self: center;
}

.form__button {
    width: 25%;
    min-width: 75px;
    align-self: center;
    cursor: pointer;
    margin-bottom: 15px;
}

.form__label {
    cursor: pointer;
}

.form__balance {
    margin: 0 auto;
    margin-bottom: 20px;
}

.history,
.history__id {
    width: 30%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.history__elem,
.fined__id {
    width: 70px;
    display: flex;
    justify-content: center;
    padding: 5px;
    border: 1px solid black;
}

.history__head,
.history__main {
    display: flex;
    justify-content: center;
    width: 400px;
}

.find_id,
.find__button {
    max-height: 20px;
    margin-bottom: 10px;
}

.fined__id {
    max-height: 20px;
}

.find__block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
}

@media(max-width: 767px) {
    .wrap {
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
    .form {
        width: 50%;
    }
    .form__amount {
        width: 90%;
    }
    .form__input {
        width: 90%;
    }
    .find__block {
        order: 3;
        width: 100%;
    }
    .history {
        margin-bottom: 15px;
    }
}