.form {
    width: 200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
}

.form__input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 10px;
}

.form__amount {
    width: 90%;
    margin-bottom: 10px;
    align-self: center;
}

.form__button {
    width: 50%;
    align-self: center;
    cursor: pointer;
    margin-bottom: 15px;
}

.form__label {
    cursor: pointer;
}

.form__balance {
    margin: 0 auto;
    margin-bottom: 20px;
}

.history {
    width: 400px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.history__elem {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 5px;
    border: 1px solid black;
}

.history__head,
.history__main {
    display: flex;
    justify-content: center;
    width: 100%;
}